.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: beige;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: center;
}
.card{
  background-color: white;
  border-radius:10px ;
  width: 250px;
  height: 380px;
  line-height: 100%;
}
.header{
  font-size: 65px;
  text-align: center;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
.text{
  color: gray;
 font-size: 10px;
 margin-top: 1px;
}
.button1{
  padding: 8px 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(10, 102, 145);
  color: white;
}

.button2{
  padding: 7px 40px;
  border-radius: 20px;
  border: none;
  background-color:rgb(71, 21, 250);
  color: white;
}

.card h2{
  font-size: 29px;
}
.card select{
  border: none;
  font-weight: bold;
}
.sup-sub{
  font-size: 18px;
}
.titre{
  margin-bottom: 1px;
}
.text2{
  color: gray;
  font-size: 10px;
}